In [1]:
import os
import pickle
import re
import time
from datetime import date, datetime

from bs4 import BeautifulSoup
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import requests
import seaborn as sns

from warnings import simplefilter
simplefilter('ignore', category=FutureWarning)

In [2]:
snapshot_url = 'https://www.basketball-reference.com/wnba/years/2024_games.html'
headers = {'User-Agent': 'Mozilla/5.0'}
snapshot_response = requests.get(snapshot_url, headers=headers)
status_code = snapshot_response.status_code  
print(status_code)

200

In [3]:
wnba_soup = BeautifulSoup(snapshot_response.content, "html.parser")

In [4]:
print(wnba_soup.prettify()[100000:104000])

ome_pts">
          83
         </td>
         <td class="center" data-stat="box_score_text">
          <a href="/wnba/boxscores/202405230PHO.html">
           Box Score
          </a>
         </td>
         <td class="left iz" data-stat="notes">
         </td>
        </tr>
        <tr>
         <th class="left" csk="202405240LAS" data-stat="date_game" scope="row">
          Fri, May 24, 2024
         </th>
         <td class="left" csk="IND.202405240LAS" data-stat="visitor_team_name">
          <a href="/wnba/teams/IND/2024.html">
           Indiana Fever
          </a>
         </td>
         <td class="right" data-stat="visitor_pts">
          78
         </td>
         <td class="left" csk="LAS.202405240LAS" data-stat="home_team_name">
          <a href="/wnba/teams/LAS/2024.html">
           Los Angeles Sparks
          </a>
         </td>
         <td class="right" data-stat="home_pts">
          73
         </td>
         <td class="center" data-stat="box_score_text">
          <a href="/wnba/boxscores/202405240LAS.html">
           Box Score
          </a>
         </td>
         <td class="left iz" data-stat="notes">
         </td>
        </tr>
        <tr>
         <th class="left" csk="202405250CHI" data-stat="date_game" scope="row">
          Sat, May 25, 2024
         </th>
         <td class="left" csk="CON.202405250CHI" data-stat="visitor_team_name">
          <a href="/wnba/teams/CON/2024.html">
           Connecticut Sun
          </a>
         </td>
         <td class="right" data-stat="visitor_pts">
          86
         </td>
         <td class="left" csk="CHI.202405250CHI" data-stat="home_team_name">
          <a href="/wnba/teams/CHI/2024.html">
           Chicago Sky
          </a>
         </td>
         <td class="right" data-stat="home_pts">
          82
         </td>
         <td class="center" data-stat="box_score_text">
          <a href="/wnba/boxscores/202405250CHI.html">
           Box Score
          </a>
         </td>
         <td class="left iz" data-stat="notes">
         </td>
        </tr>
        <tr>
         <th class="left" csk="202405250LVA" data-stat="date_game" scope="row">
          Sat, May 25, 2024
         </th>
         <td class="left" csk="IND.202405250LVA" data-stat="visitor_team_name">
          <a href="/wnba/teams/IND/2024.html">
           Indiana Fever
          </a>
         </td>
         <td class="right" data-stat="visitor_pts">
          80
         </td>
         <td class="left" csk="LVA.202405250LVA" data-stat="home_team_name">
          <a href="/wnba/teams/LVA/2024.html">
           Las Vegas Aces
          </a>
         </td>
         <td class="right" data-stat="home_pts">
          99
         </td>
         <td class="center" data-stat="box_score_text">
          <a href="/wnba/boxscores/202405250LVA.html">
           Box Score
          </a>
         </td>
         <td class="left iz" data-stat="notes">
         </td>
        </tr>
        <tr>
         <th class="left" csk="202405250MIN" data-stat="date_game" scope="row">
          Sat, May 25, 2024
         </th>
         <td class="left" csk="NYL.202405250MIN" data-stat="visitor_team_name">
          <a href="/wnba/teams/NYL/2024.html">
           New York Liberty
          </a>
         </td>
         <td class="right" data-stat="visitor_pts">
          67
         </td>
         <td class="left" csk="MIN.202405250MIN" data-stat="home_team_name">
          <a href="/wnba/teams/MIN/2024.html">
           Minnesota Lynx
          </a>
         </td>
         <td class="right" data-stat="home_pts">
          84
         </td>
         <td class="center" data-stat="box_score_text">
          <a href="/wnba/boxscores/202405250MIN.html">
           Box Score
          </a>
         </td>
         <td class="left iz" data-stat="notes">
         </td>
        </tr>
        <tr>
         <th class="left" csk="202405250PHO" data-stat="date_game" scope="row">
          Sat, May 25, 2024
         </th>

In [5]:
date_vals = wnba_soup.find_all('th', {'data-stat': 'date_game'})[1:]
dates = [date_val.get_text(strip=True) for date_val in date_vals]

In [6]:
visitor_vals = wnba_soup.find_all('td', {'data-stat': 'visitor_team_name'})
visitors = [visitor_val.get_text(strip=True) for visitor_val in visitor_vals]

In [7]:
visitor_pt_vals = wnba_soup.find_all('td', {'data-stat': 'visitor_pts'})
visitor_pts = [visitor_pt_val.get_text(strip=True) for visitor_pt_val in visitor_pt_vals]

In [8]:
home_vals = wnba_soup.find_all('td', {'data-stat': 'home_team_name'})
homes = [home_val.get_text(strip=True) for home_val in home_vals]

In [9]:
home_pt_vals = wnba_soup.find_all('td', {'data-stat': 'home_pts'})
home_pts = [home_pt_val.get_text(strip=True) for home_pt_val in home_pt_vals]

In [10]:
len(dates), len(visitors), len(visitor_pts), len(homes), len(home_pts)

(240, 240, 240, 240, 240)

In [11]:
days = [date.split(', ', 1)[0] for date in dates]
dates = [datetime.strptime(date.split(', ', 1)[1], '%b %d, %Y').date() for date in dates]

In [12]:
schedule = pd.DataFrame(list(zip(days, dates, homes, visitors, home_pts, visitor_pts)),
              columns=['Day', 'Date', 'HomeTeam', 'AwayTeam', 'HomePts', 'AwayPts'])

In [13]:
schedule.head(5)

   Day        Date            HomeTeam          AwayTeam HomePts AwayPts
0  Tue  2024-05-14     Connecticut Sun     Indiana Fever      92      71
1  Tue  2024-05-14      Las Vegas Aces   Phoenix Mercury      89      80
2  Tue  2024-05-14       Seattle Storm    Minnesota Lynx      70      83
3  Tue  2024-05-14  Washington Mystics  New York Liberty      80      85
4  Wed  2024-05-15        Dallas Wings       Chicago Sky      87      79

In [27]:
today = (date.today())#.strftime('%Y-%m-%d')
print("Today is", today.strftime('%Y-%m-%d'))

Today is 2024-06-13

In [40]:
current_schedule = schedule[schedule['Date'] < today]
current_schedule.head(-5)

    Day        Date            HomeTeam            AwayTeam HomePts AwayPts
0   Tue  2024-05-14     Connecticut Sun       Indiana Fever      92      71
1   Tue  2024-05-14      Las Vegas Aces     Phoenix Mercury      89      80
2   Tue  2024-05-14       Seattle Storm      Minnesota Lynx      70      83
3   Tue  2024-05-14  Washington Mystics    New York Liberty      80      85
4   Wed  2024-05-15        Dallas Wings         Chicago Sky      87      79
..  ...         ...                 ...                 ...     ...     ...
60  Sat  2024-06-08     Connecticut Sun    New York Liberty      75      82
61  Sun  2024-06-09        Dallas Wings     Phoenix Mercury      90      97
62  Sun  2024-06-09  Los Angeles Sparks      Las Vegas Aces      96      92
63  Sun  2024-06-09      Minnesota Lynx       Seattle Storm      83      64
64  Sun  2024-06-09    New York Liberty  Washington Mystics      93      88

[65 rows x 6 columns]

In [42]:
current_schedule.loc[:, 'HomePts'] = current_schedule['HomePts'].astype(int)
current_schedule.loc[:, 'AwayPts'] = current_schedule['AwayPts'].astype(int)

In [44]:
current_schedule.info()

<class 'pandas.core.frame.DataFrame'>
Index: 70 entries, 0 to 69
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Day       70 non-null     object
 1   Date      70 non-null     object
 2   HomeTeam  70 non-null     object
 3   AwayTeam  70 non-null     object
 4   HomePts   70 non-null     int64
 5   AwayPts   70 non-null     int64
dtypes: int64(2), object(4)
memory usage: 3.8+ KB